{% extends 'base.jinja' %}
{% block content %}
<main class="book">
    <section class="book__content">
        <div class="book__wrapper--date">
            <div class="book__left">
                <h1 class="book__title--date">Select Date</h1>
                <form action="/the_good_restaurant/book_slot" class="book-table" method="POST">
                    <input type="date" name="date" id="date" placeholder="date" required>
                    <input class="submit-btn" type="submit" name="place_booking" id="place_booking"
                        value="See Availability ">
                </form>
            </div>
            <div class="book__img-container">
                <img class="book__img"
                    src="https://cdn.discordapp.com/attachments/931859564863823882/1134853447158616124/Restaurant.jpg">
                <p class="book__img__text">-Our main dining room, built in 1602 and never cleaned once</p>
            </div>
        </div>
    </section>
</main>
{% endblock content %}