<a class="nav-bar__item__li" href="/the_good_restaurant/home">Home</a>
<img src="https://cdn.discordapp.com/attachments/1134939339600703529/1135336367824576655/green_tick.png">
<h1 class="logo">Booking Confirmed</h1>