<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The Good Restaurant</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

<body class="staff-body">
    <header class="staff-header">
        <div class="staff-header__wrapper">
            <div class="staff-logo">
                <span>T.G.R</span>
                <p class="staff-logo__text">Staff</p>
            </div>
            <ul>
                <li>
                    <div class="logout">
                        <a href="/the_good_restaurant/home">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <main class="staff-view__content">
        <aside class="staff-side-bar">
            <div class="staff-side-bar__wrapper">
                <ul class="staff-side-bar__content">
                    <a href="/the_good_restaurant/bookings">
                        <li class="staff-side-bar__title">Bookings</li>
                    </a>
                    <li class="staff-side-bar__title">View Customers</li>
                    <a href="/the_good_restaurant/book">
                        <li class="staff-side-bar__title">Add Booking</li>
                    </a>
                </ul>
            </div>
        </aside>
        <div class="bookings-view">
            <section class="bookings-view__wrapper">
                <div class="bookings-view__titles">
                    <h2 class="bookings-view__titles--title">{{ booking.booking_name }}</h2>
                    <p class="bookings-view__p"><span style="font-weight: bolder;">Booked for:</span> {{
                        booking.booking_date.strftime("%d/%m/%Y")}}
                    </p>
                    <p class="bookings-view__p"><span style="font-weight: bolder;">Tel:</span> {{
                        booking.phone_number}}
                    </p>
                </div>
                <div class="bookings-view__details__box">
                    <div class="bookings-view__details__box__wrapper">
                        <h2 class="details__box__title">Booking Details</h2>
                        <ul class="bookings-view__details__box__content">
                            <li class="details__box__item"><span style="font-weight: bolder;">Email: </span>{{
                                booking.email }}</li>
                            <li class="details__box__item"><span style="font-weight: bolder;">Number of Guests:
                                </span>{{
                                booking.number_of_guests }}</li>
                            <li class="details__box__item"><span style="font-weight: bolder;">Slot: </span>{{
                                booking.slot.start_time }}</li>
                            <li class="details__box__item"><span style="font-weight: bolder;">Email: </span>{{
                                booking.email }}</li>
                            <li class="details__box__item"><span style="font-weight: bolder;">TableID: </span>{{
                                booking.tableid }}</li>
                            <div class="booking-buttons">
                                <form action="/the_good_restaurant/show_booking/{{booking.id}}/delete" method="post">
                                    <li><span style="font-weight: bolder;"><button type="submit"
                                                class="delete-btn">Delete
                                                Booking</button>
                                    </li>
                                </form>
                                <a href="/the_good_restaurant/{{booking.id}}/edit">
                                    <li><span style="font-weight: bolder;"><button class="amend-btn">Amend
                                                Booking</button>
                                    </li>
                                </a>
                            </div>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>

</html>