* {
    margin: 0;
    padding: 0;
}

.header__wrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}

li {
    list-style: none;
}

input {
    text-align: center;
    border: none;
    border-radius: 3px;
    padding: 3px;
    width: 120px;
}


.nav-bar__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 120px;
    margin-top: 50px;
}

.nav-bar__item__li {
    color: rgb(255, 255, 255);
    font-family: Palatino, URW Palladio L, serif;
    text-decoration: none;
}

.nav-bar__item__li a:hover {
    cursor: pointer;
    color: rgb(174, 93, 93);
}

.logo {
    font-family: Brush Script MT, Brush Script Std, cursive;;
    color: white;
    font-size: 40px;
    text-shadow: black 10px 5px 7px;
}

body {
    background-image: url(https://cdn.discordapp.com/attachments/931859564863823882/1134413208401219604/vegetables-set-left-black-slate.jpg);
    background-size: cover;
}


.hero__welcome {
    color:rgb(255, 255, 255);
    font-family: Brush Script MT, Brush Script Std, cursive;
    margin-top: 70px;
}

.hero__title {
    margin-top: 15px;
    font-size: 60px;
    text-align: center;
    color: rgb(188, 125, 7) ;
    font-family: Palatino, URW Palladio L, serif;
    text-shadow: rgb(40, 40, 40) 2px 2px 10px;
}

.book-now-btn {
    margin-top: 10px;
    border: rgb(188, 125, 7) 3px solid;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    font-family: Palatino, URW Palladio L, serif;
    font-weight: bolder;
    padding: 8px 20px;
}

.book-now-btn:hover {
    cursor: pointer;
    box-shadow: rgb(17, 17, 17) 10px 5px 10px;
    background-color: rgba(243, 243, 243, 0.09);
}

.hero__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book__form-box {
    border: gray solid 6px;
    width: 300px;
    height: 525px;
    border-radius: 20px;
}

.book__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 30px 50px 10px 50px;
}

.book__img {
    height: 250px;
    border: white solid 2px;

}

.book__img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book__img__text {
    color: white;
    margin-top: 5px;
    font-family: Palatino, URW Palladio L, serif;
}

.book__title {
    margin-bottom: 20px;
    font-family: Palatino, URW Palladio L, serif;
    color: rgb(188, 125, 7) ;
    font-weight: bolder;
    text-shadow: black 5px 5px 10px;
    font-size: 30px;
    text-decoration: underline;
}

.book__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

select {
    background-color: transparent;
}

#slots {
    height: 44px;
    border: none;
    overflow: hidden;
}
#slots ::-moz-focus-inner {
    border: 0;
}
#slots :focus {
    outline: none;
}
#slots option {
    width: 60px;
    font-size: 1.2em;
    padding: 10px 0;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    border: gray solid 3px;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.select_slot {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.submit-btn {
    justify-self: center;
}