{% extends 'base.jinja' %}
{% block content %}

<body>
    <main>
        <section class="hero">
            <div class="hero__wrapper">
                <h2 class="hero__welcome">Welcome to</h2>
                <h1 class="hero__title">The Good <br>Restaurant</h1>
                <a href="{{url_for('restaurant.show_book')}}"><button class="book-now-btn">Book Now</button></a>
            </div>
        </section>
    </main>
</body>
{% endblock content %}