{% extends 'base.jinja' %}
{% block content %}

<body>
    <main>
        <section class="hero">
            <div class="hero__wrapper">
                <h1 class="hero__title">The Good <br>Restaurant</h1>
                <a href="/the_good_restaurant/book"><button>Book Now</button></a>
            </div>
        </section>
    </main>
</body>
{% endblock content %}